
import React, {useState, PropsWithChildren} from 'react';
import * as T from '../types';
import pageModel from '../actions';
import { connect, useSelector } from 'react-redux';
import {store2Props} from "../selectors";
import classNames from "classnames";
import './<%=subComp.name%>.less';
<%-subComp.imports||""%>
type I<%=subComp.className%>Props = T.IAllReducerProps & T.I<%=subComp.className%>Props;


export default (props: PropsWithChildren<T.I<%=subComp.className%>Props>) => {
        const [ state,  setState ] = useState<T.I<%=subComp.className%>State>(null);
        const {
        <% pageModel.dataModels.forEach(actor=>{ %>
        <%=actor.instanceName%>,
        <% }) %>
        }: T.IAllReducerProps = useSelector(store2Props)
        return <div className={'<%-pageModel.className+subComp.className%>'}></div>;
};
